* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: alata-regular; */
  font-family: oswald;
  color: #253858;
}

html,
body {
  /* overflow-x: hidden; */
  width: 100%;
  height: 100%;

}

@font-face {
  font-family: oswald;
  src: url(../webfonts/Oswald-Regular.ttf);
}

@font-face {
  font-family: alata-regular;
  src: url(../webfonts/alata-regular.ttf);
}

@font-face {
  font-family: Fira_Sans_BOlD;
  src: url(../webfonts/FiraSansCondensed-ExtraBold.ttf);
}


.font-family-oswald {
  font-family: oswald;
}

h2,
h3 {
  font-family: 'Montserrat', sans-serif;
  color: #6c757d !important;
}

/* Genric Css */

::placeholder {

  font-size: 15px;
  letter-spacing: 1px;
}

.box-shadow-none {
  box-shadow: none !important;
}

.drp-dwn-hover {
  transition: 1s;

}

.drp-dwn-hover:hover {
  background-color: #4D92C8;
  color: #fffcfc !important;

}

.drp-dwn-hover a:hover,
.drp-dwn-hover span:hover,
.drp-dwn-hover img:hover {
  /* color: #fffcfc !important; */
}



.wdth-24 {
  width: 24px;
}

.width-150 {
  width: 150px;
}

.mt-150 {
  margin-top: 150px;
}

.mb-150 {
  margin-bottom: 150px;
}

#m-adjust {
  margin: -101px 14px;
}

#m2-adjust {
  margin: -45px 11px;
}

#m3-adjust {
  margin: -14px 0px;
}


.border-width-5 {

  border-width: 5px 0px !important;
}


.bbc-women {
  border-bottom-color: rgb(255, 0, 183) !important;

}

.bbc-men {
  border-bottom-color: rgb(82, 155, 212) !important;
}

.clr-pink {
  color: rgb(255, 0, 183) !important;
}

.vertical-hr {
  height: 111px;
  width: 2px;
  background-color: rgb(146, 146, 146);
  padding: 6px 0px 7px -1px;

}

.p-hr {
  position: absolute;
  left: 96%;
  top: 38%;
}

.p-hr-2 {
  position: absolute;
  left: 102%;
  top: 38%;
}

.p-adjust {}

.letter-spae-1px {

  letter-spacing: 1px;
}

.bg-pink {
  background-color: rgb(216, 46, 156);
}

.h-60 {
  height: 60px;
}

.space-small {
  height: 2em;
}

.space-medium {
  height: 5em;
}

.space-large {
  height: 8em;
}


.icon-small {
  width: 2em;
  height: 1em;
}

.icon-nav-medium {
  width: 22px;
  height: 30px;
}

.icon-medium {
  width: 4em;
  height: 4em;
}

.icon-large {
  width: 8em;
  height: 8em;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  align-text: center;
  margin-left: auto;
  margin-right: auto;
}

.box-shadow-class {

  background-blend-mode: overlay;
  background-color: #fff;
  box-shadow: 2px 2px 15px 0 #e5e5e5;

}

.width-220 {
  width: 220px;
}

.width-350 {
  width: 335px;
}

.font-size-17 {
  font-size: 15px;
}

.font-size-30 {
  font-size: 30px;

}

.font-var {
  font-variant: all-small-caps;
}

.ml-15 {
  margin-left: 15px;
}

.mb-35 {
  margin-bottom: 50px;
}

.min-width-72 {
  min-width: 72%;
}

.ver-nav-center {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* ==============Navbar==================== */


#inner-image-icon {
  text-decoration: none;
  margin-left: -44px;
  width: 44px;
}



.nav-hover {
  height: 50px;
  transition-duration: 1s;
}

.nav-hover:hover {
  background-color: #fff;
  box-shadow: 2px 2px 15px 0 #e5e5e5;
  height: 50px;
  border-style: solid;
  border-width: 0px 8px;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 12%;
  border-color: rgb(255, 0, 183);
  border-top-left-radius: 5%;
  border-bottom-right-radius: 5%;
  border-top-right-radius: 5%;
  transition-duration: .3s;
}

.nav-hover-col {
  height: 50px;
  transition-duration: 1s;
}

.nav-hover-col:hover {
  background-color: #fff;
  box-shadow: 2px 2px 15px 0 #e5e5e5;
  height: 50px;
  border-style: solid;
  border-width: 0px 8px;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 12%;
  border-color: rgb(255, 0, 183);
  border-top-left-radius: 5%;
  border-bottom-right-radius: 5%;
  border-top-right-radius: 5%;
  transition-duration: .3s;
}



.wdth-adjust {
  animation-direction: reverse;
}


.inner-wrapper {
  margin-left: 24px;
}

.adjust- {
  margin-left: -10px;
}

.width-vertical-nav {
  max-width: 10%;
  height: 700px;
}

.display-none {
  display: none !important;
}

.icon-image {
  text-decoration: none;
  margin-right: -18px;

}

.a-main {
  /* margin-left: 14px; */
  margin-top: 35px !important;
  display: block;
}


.text-adust {
  font-size: 10px !important;
  display: block;

  font-weight: 700;
}

.brand {}


.brand-img {
  width: 90px;
  height: 40px;
}

.js-icon {
  margin: 5px 100px 0px -6px;
}

.height-nav {
  height: 77px;
}


.search-img {
  margin-left: -43px;
  width: 20px;
  height: 24px;
}

.menu {
  margin-top: 8px;
}

/*SEARCH FORM*/

.search-form {
  border-radius: 30px 0px 0px 30px;
}

.search-btn {
  border-radius: 0px 30px 30px 0px;
  cursor: pointer;
}

.search-bar-width {
  width: 250px !important;
}

.form-control:focus {
  box-shadow: none;
}


.font-weight {
  color: #555353 !important;
  padding: 5px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
}

/* ======================Vertical Nav========================= */

.separator {
  margin: 3rem 0;
  border-bottom: 1px dashed #fff;
}

.calender {
  background-image: url(../Images/Calender\ Icon.png);
  background-repeat: no-repeat;

  width: 200px;
  height: 200px;
  margin-left: 42px;
}

#year_name {
  padding-top: 11px;
  padding-left: 54px;

}

.calender-adjust {
  margin-left: 36px;
  letter-spacing: 10px;
}

.img-hover:hover {
  background-color: #fff !important;
  box-shadow: 2px 2px 15px 0 #e5e5e5;
  z-index: 1;

}

.text-color {
  color: rgb(167, 167, 167) !important;
}


.text-uppercase {
  letter-spacing: 0.1em;
}

#y {
  transition: .7s;
}

#y:hover {
  box-shadow: 0 1px 2px #e5e5e5,
    1px 3px 1px #e5e5e5,
    2px 5px 1px #e5e5e5,
    4px 7px 1px #e5e5e5,
    6px 9px 1px #e5e5e5,
    8px 11px 1px #e5e5e5;

}



.text-gray {
  color: #aaa;
}

.vertical-nav {
  min-width: 14rem;
  width: 14rem;
  height: 100vh;
  left: 138px;
  /* box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1); */
  transition: all 0.4s;
  height: 700px;
}



.page-content {
  width: calc(100% - 30rem);
  transition: all 0.9s;
  z-index: 1;
}

/* for toggle behavior */

/* .sidebar.active {
  margin-left: -17rem;
} */

.text-nones {
  display: none !important;
}

#content.active {
  width: 100%;
  margin: 0;
}

#thead-style {
  display: block !important;
  padding-left: 55px;
}



@media (max-width: 768px) {
  .all-vertical-bar {
    /* margin-left: -17rem; */
    display: none;
  }

  .all-vertical-bar.active {
    margin-left: 0;
  }

  #content-all {
    width: 100%;
    margin: 0;
  }

  #content-all.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}


/* ====================== Show case =========================== */


.bg-color-col1 {
  background-color: rgb(73, 140, 190);
}

#bg-img {
  background-image: url(../Images/12.png);
  background-repeat: no-repeat;
}


.table-reflow td {
  color: #6c757d !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

.table-reflow thead {
  font-size: 13px;
}


.height {}

/* ================Latest Updates======================== */

/* js Graph */
.mob1 {
  padding-top: 4px;
}

#line-stacked-area {
  height: 230px;
}

.s1,
.s2,
.s3,
.s4 {
  width: 98px;
  height: 35px;
  border-radius: 30px;
  border: 1px solid #DEDEDF;
  font-family: mont2;
  text-align: center;
  font-size: 9px;
  font-weight: 900;
  line-height: 35px;
  transition: .7s all;
  color: rgba(90, 93, 102, 0.702);
}

.s2,
.s3,
.s4 {
  margin-top: 3px;
}

.s2 {
  margin-top: 10px;
}

.s3 {
  margin-top: 10px;
}

.s4 {
  margin-top: 10px;
}

.s1:hover,
.s2:hover,
.s3:hover,
.s4:hover {
  background-color: #4D92C8;
  cursor: pointer;
  color: white;
}




@media(max-width:992px) {
  .js-icon {
    display: none;
  }

  .dropdown-all {
    width: 10pc;
    text-align: center;
    margin: auto;

  }
  .width-350{
    width: auto;
  }
  .pg-responsive-3{
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333% !important;
    max-width: 83.333333% !important;
  }
   

}

@media (max-width :1200px) {
  .pg-responsive-2 {
    display: none !important;
  }

  .ds-text {
    display: none !important;
  }

  .pg-responsive-3{
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
   
  

 
}


/* =-================== Footer ========================== */